

*{
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header {
    
position:fixed;
color:rgb(235, 152, 58);
padding: 2.5rem 3rem;
width: 100%;
z-index: 1;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 3rem;
align-items: flex-end;
background: rgba(7, 139, 47, 0.6);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);


}

nav {
    display: flex;
    flex-wrap:wrap;
    gap: 2rem;
    text-transform: uppercase;
    align-items: center;
}

.bandeira {
background-image: url("./imagens/bandeira.jpg");
height: 100vh;
background-size: cover;
position: relative;

}
.brigadeiro {
    background-image: url("./imagens/brigadeiro.jpg");
    height: 100vh;
    background-size: cover;
    position: relative;
}
.coxinha {
    background-image: url("./imagens/coxinha.jpg");
   height: 100vh;
   background-size: cover;
   position: relative;
}


footer {
    background:darkgreen;
    text-align:center;
    color:white;
    padding:45px;

}
.cta-box {
position:absolute;
bottom:10%;
left:3rem;
color:rgb(235, 152, 58);
display:flex;
flex-direction: column;
gap:0.9rem;
max-width: 80%;
padding:1rem;
/* From https://css.glass */
background: rgba(11, 114, 28, 0.9);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(11, 114, 28, 0.64);


}
.mainline {
    
    text-transform: uppercase;
    font-weight: 100;
    opacity: 1;
    font-size: 1,2rem;

}

.secondline {
    font-size:2.5rem;
    text-transform:uppercase;
    
}